.footer {
  text-align: center;
  font-size: 90%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #a5640e; }

.header {
  text-align: center;
  width: auto;
  margin-top: 0%;
  padding: 0%; }
  .header .nav {
    background-color: darkcyan; }

.titulo {
  animation-duration: 2s;
  animation-name: aparecer; }

@media (max-width: 850px) {
  .titulo {
    width: 100%; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h1 {
  color: peru;
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media (max-width: 600px) {
  .facet_sidebar {
    display: none; } }

.body {
  width: auto;
  margin: 10px;
  background-color: aliceblue;
  font-family: "Trebuchet MS"; }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  list-style: none; }

.claseBarraDeNavegacion {
  font-size: 20px;
  background-color: burlywood;
  color: darkcyan;
  border-radius: 5%;
  justify-content: center; }

.losElegidos {
  box-sizing: content-box;
  margin: 20%;
  padding: auto; }

.subtitulo {
  color: chocolate;
  font-size: 140%; }

h2 {
  color: #ddb83c; }

h3 {
  color: coral;
  text-align: right; }

.consejoDelMes {
  text-align: center;
  color: chocolate;
  font-size: 30px; }

.formulario {
  grid-template-columns: 40%;
  padding: 0 20px;
  font-size: 20px;
  font: bold;
  color: sandybrown;
  font-family: 'Lucida Sans'; }

.paisajeDeFondo {
  color: #087732;
  margin: 5%;
  overflow: auto;
  border: solid;
  border-color: white; }

.imagenContacto:hover {
  transform: scale(1.2);
  width: 30%;
  margin: 0%;
  text-align: left;
  grid-template-columns: 60%; }

.flexCenter {
  display: flex;
  justify-content: center; }

.carousel {
  width: 100%;
  height: 600px;
  display: flex; }

.carousel-item {
  display: flex;
  object-fit: cover;
  object-position: center; }

.carousel-item img {
  display: flex;
  object-fit: cover;
  object-position: center; }

.pagina404 {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.nosotros {
  margin: 5px;
  padding: 10px; }
